*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
}
html , body{
    height: 100%;
}
body{
    background: rgb(134,8,191);
    background: radial-gradient(circle, rgba(134,8,191,1) 8%, rgba(6,182,192,1) 61%, rgba(255,0,198,1) 100%);  
}
.voltar{
    margin: 20px 0 0 20px;
    display: flex;
    width: 16%;
    display: block;
    background: rgb(255, 255, 255);
    padding: 5px 20px;
    border-radius: 10px;
    color: rgb(64, 0, 116);
    text-align: justify;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.voltar a {
    text-decoration: none;
}
.imagem-1{
    margin-top: 12%;
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-2{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-3{
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-4{
    margin-left:20px ;
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-5{
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-6{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-7{
    margin-right: 20px;
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-8{
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-9{
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.imagem-10{
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 50px;
    background: white;
    padding: 5px 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.top{
    margin-top: 20px;
}